* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: #f4f9f9;
}
.header {
    background-color: #d7fbe8;
}
.container img {
    width: 100%;
    height: 70vh;
    margin-top: -80px;
}
.heading-text {
    font-size: 4.8rem;
    color: #1fab89;
    width: 430px;
    font-family: 'Leckerli One', cursive;
    font-weight: 300;
    text-align: center;
    padding: 150px 0 30px 0;
    margin: 0px auto;
}
.header-para{
    font-family: 'Titillium', sans-serif;
    font-size: 18px;
    letter-spacing: .2rem;
    color: #1fab89;
}
span {
    text-decoration: underline;
    font-style: italic;
}
/* header compleat */
.my-intro {
    margin: 100px auto;
}
.circle-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid #424874;
}
h2 {
    margin: 30px auto;
    font-family: sans-serif;
    color: #303841;
}
p {
    
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Titillium', sans-serif;
    color: #3a4750;
    
}
.intro-para {
    width: 33%;
    margin: auto;
}
/* intro compleat */

.my-skills {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.my-skills .circle-image {
    float: left;
    margin: 0 60px 0 0;
}
.content {
    padding: 5px;
}
.my-skills .B {
    float: right;
    margin: 0 0 0 60px;
}
/* last-section */
 h3 {
    color: #ff6f3c;
     font-family: sans-serif;
     font-size: 35px;
     margin: 10px 0 10px 0;
 }
 .last-para {
     color: #155263;
     margin: 10px auto;
     width: 40%;
 }
 button {
     border: 1px solid #424874;
     outline: none;
     background-color: #7effdb;
     font-size: 20px;
     padding: 14px;
     font-style: italic;
     letter-spacing: 1px;
     border-radius: 100px;
     font-weight: 600;
     cursor: pointer;
     transition: .3s;
     margin: 20px auto;
 }
 button:hover {
     background-color: #ff6f3c;
     
 }
 .footer {
     margin: 100px 0 10px 0;
     background-color: #d7fbe8;
     padding: 20px; 
 }
 .footer a {
     text-decoration: none;
     padding: 10px;
     color: #ff6f3c;
     font-style: italic;
     font-family: 'Titillium', sans-serif;
     font-size: 18px;
 }
 .footer a:hover {
    color: #0c056d;
    font-weight: 600;
 }
 .footer-para {
     margin-top: 20px;
     font-size: 15px;
     font-style: italic;
 }